{
  server_protector: {
    storage_path: "tecknobit/ametista/backend",
    save_message: " to correctly register a new user in the Ametista system.\nThe admin code: %sto authenticate as an admin, keep it safe!"
  },
  resources: {
    resources_folder: true,
    subdirectories: [
        "profiles",
        "icons"
    ]
  }
}